<%= form_with(model: begen, local: true) do |form| %>
  <% if begen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(begen.errors.count, "error") %> prohibited this begen from being saved:</h2>

      <ul>
      <% begen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :begen_name %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :begen_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
