<p id="notice"><%= notice %></p>

<h1>Begens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @begens.each do |begen| %>
      <tr>
        <td><%= begen.name %></td>
        <td><%= begen.comment %></td>
        <td><%= link_to 'Show', begen %></td>
        <td><%= link_to 'Edit', edit_begen_path(begen) %></td>
        <td><%= link_to 'Destroy', begen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Begen', new_begen_path %>
